# Pandas Series
시리즈는 1차원의 데이터를 다루며 인덱스와 그와 짝지어진 데이터로 이루어져 있다 리스트와 유사하지만 인덱스의 이름을 부여할 수 있다는 큰 차이점이 있다

In [1]:
# pandas import

import pandas as pd

In [64]:
# 시리즈 데이터 

se1=pd.Series(['A','B','C','D','E','F',None,'H','I','J',None])
print(se1)  # 자동으로 앞에 인덱스가 붙음

0        A
1        B
2        C
3        D
4        E
5        F
6     None
7        H
8        I
9        J
10    None
dtype: object

In [65]:
# 생성 se1에 인덱스 명 변경

se1.index=['zero','one','two','three','four','five','six','seven','eight','nine','ten']
print(se1)

zero        A
one         B
two         C
three       D
four        E
five        F
six      None
seven       H
eight       I
nine        J
ten      None
dtype: object

In [66]:
print(se1.values) # test1의 values 값
print(se1.index)  # test1의 index

['A' 'B' 'C' 'D' 'E' 'F' None 'H' 'I' 'J' None]
Index(['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight',
       'nine', 'ten'],
      dtype='object')

In [67]:
# 인덱스명으로도 value를 찾을 수 있다

print(se1[0])
print(se1['zero'])

A
A

In [68]:
# 결측치 확인

se1.isnull()

zero     False
one      False
two      False
three    False
four     False
five     False
six       True
seven    False
eight    False
nine     False
ten       True
dtype: bool

# DataFrame과 비교
데이터프레임은 2차원 데이터(행,열 존재)를 다룬다

In [108]:
# dataframe 데이터

import string

df1={'al_num' : ['zero',None,'two','three','four',None,'six','seven','eight','nine',None],
     'num' : [i if i!=4 and i!=7 else None for i in range(11)]} # 4과 7은 None으로 설정
df1=pd.DataFrame(df1,index=[i for i in string.ascii_uppercase[:11]])
print(df1)

  al_num   num
A   zero   0.0
B   None   1.0
C    two   2.0
D  three   3.0
E   four   NaN
F   None   5.0
G    six   6.0
H  seven   NaN
I  eight   8.0
J   nine   9.0
K   None  10.0

In [99]:
# 컬럼명과 슬라이싱을 사용하여 value 찾기 가능

print(df1['al_num'][3])
print(df1['num'][3])

three
3

In [100]:
# 인덱스로는 검색이 안된다

df1[0]

KeyError: 0

In [101]:
print('dtype : ',df1.dtypes)
print('values : ',df1.values)
print('columns : ',df1.columns)
print('index : ',df1.index)

dtype :  al_num    object
num       object
dtype: object
values :  [['zero' 0]
 [None 1]
 ['two' 2]
 ['three' 3]
 ['four' 'None']
 [None 5]
 ['six' 6]
 ['seven' 'None']
 ['eight' 8]
 ['nine' 9]
 [None 10]]
columns :  Index(['al_num', 'num'], dtype='object')
index :  Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K'], dtype='object')

In [109]:
# 결측치 확인

df1.isnull()

   al_num    num
A   False  False
B    True  False
C   False  False
D   False  False
E   False   True
F    True  False
G   False  False
H   False   True
I   False  False
J   False  False
K    True  False